.chatbot-container {
  max-width: 500px;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.messages-container {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.message.user {
  background-color: #050505;
  color: #d7d7d7;
  text-align: right;
}

.message.bot {
  background-color: #565656;
  color: #d7d7d7;
  border-radius: 27.5px;
}

.input-container {
  display: flex;
}

.msg {
  flex-grow: 1;
  padding: 10px;
  border-radius: 27.5px 0 0 27.5px;
  background-color: #303030;
  color: #d7d7d7;
}

.send {
  padding: 10px;
  border: none;
  background-color: #20bba9;
  color: #d7d7d7;
  cursor: pointer;
  border-radius: 0 27.5px 27.5px 0;
}

.send:hover {
  background-color: #17877a;
}
