form {
  max-width: 300px;
  margin: auto;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #d7d7d7;
  background-color: #303030;
  border-radius: 27.5px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #20bba9;
  color: #050505;
  border: none;
  cursor: pointer;
  border-radius: 27.5px; /* Asegúrate de agregar 'px' o cualquier otra unidad válida aquí */
}

button:hover {
  background-color: #17877a;
}

button:active {
  background-color: #0e544b;
}
