body,
html {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #1a1a1a;
}

form {
  max-width: 300px;
  margin: auto;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #d7d7d7;
  background-color: #303030;
  border-radius: 27.5px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #20bba9;
  color: #050505;
  border: none;
  cursor: pointer;
  border-radius: 27.5px;
  width: 325px;
}

button:hover {
  background-color: #17877a;
}

button:active {
  background-color: #0e544b;
}

.ForgotPassword {
  color: #20bba9;
  text-align: right;
  width: 100%;
}

.dontAcc {
  color: #d7d7d7;
}

.signUp {
  color: #20bba9;
}
